@model NoticeBoard.Models.ViewModels.NewNoticeViewModel

@{
    ViewBag.Title = "AddNotice";
}

<h2>AddNotice</h2>
@using (Html.BeginForm("AddNoticeToDatabase", "UserNotices"))
{
    @Html.Partial("_NoticeForm")
}