@{
    ViewBag.Title = "Tablica ogłoszeń";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <p>
        Projekt przygotowany na potzreby przedmiotu "Aplikacje internetowe".
    </p>
</article>
